## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import matplotlib.pyplot as plt
# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_dataframe = pd.read_csv("/users/Amand/code/World_Weather_Analysis/Weather_Database/weatherpy_database.csv")
city_dataframe.head()

,city_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Hermanus,ZA,-34.4187,19.2345,62.91,85,31,6.40,scattered clouds
1,1,Mogadishu,SO,2.0371,45.3438,80.28,75,96,11.74,overcast clouds
2,2,Arraial Do Cabo,BR,-22.9661,-42.0278,66.92,86,100,9.37,light rain
3,3,Tornio,FI,65.8481,24.1466,33.82,95,100,6.85,overcast clouds
4,4,Linhares,BR,-19.3911,-40.0722,67.84,97,100,7.00,overcast clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_dataframe.loc[(city_dataframe["Max Temp"] <= max_temp) & \
                                       (city_dataframe["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,city_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Mogadishu,SO,2.0371,45.3438,80.28,75,96,11.74,overcast clouds
5,5,Grand Gaube,MU,-20.0064,57.6608,79.38,67,1,5.99,clear sky
18,18,Bubaque,GW,11.2833,-15.8333,80.73,79,100,10.85,light rain
22,22,Sinnamary,GF,5.3833,-52.9500,77.74,89,82,6.53,broken clouds
24,24,Saint-Philippe,RE,-21.3585,55.7679,77.22,68,0,8.72,clear sky
31,31,Doha,QA,25.2867,51.5333,75.18,60,0,4.61,clear sky
33,33,Mahajanga,MG,-15.7167,46.3167,77.02,100,40,0.00,scattered clouds
36,36,Esmeralda,CU,21.8525,-78.1169,76.24,94,97,5.50,overcast clouds
52,52,Georgetown,MY,5.4112,100.3354,78.73,94,40,3.44,scattered clouds
64,64,Kavaratti,IN,10.5669,72.6420,81.84,69,100,8.32,overcast clouds

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

city_ID                187
City                   187
Country                187
Lat                    187
Lng                    187
Max Temp               187
Humidity               187
Cloudiness             187
Wind Speed             187
Current Description    187
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_dataframe = preferred_cities_df.dropna()
clean_dataframe.head(10)

,city_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Mogadishu,SO,2.0371,45.3438,80.28,75,96,11.74,overcast clouds
5,5,Grand Gaube,MU,-20.0064,57.6608,79.38,67,1,5.99,clear sky
18,18,Bubaque,GW,11.2833,-15.8333,80.73,79,100,10.85,light rain
22,22,Sinnamary,GF,5.3833,-52.9500,77.74,89,82,6.53,broken clouds
24,24,Saint-Philippe,RE,-21.3585,55.7679,77.22,68,0,8.72,clear sky
31,31,Doha,QA,25.2867,51.5333,75.18,60,0,4.61,clear sky
33,33,Mahajanga,MG,-15.7167,46.3167,77.02,100,40,0.00,scattered clouds
36,36,Esmeralda,CU,21.8525,-78.1169,76.24,94,97,5.50,overcast clouds
52,52,Georgetown,MY,5.4112,100.3354,78.73,94,40,3.44,scattered clouds
64,64,Kavaratti,IN,10.5669,72.6420,81.84,69,100,8.32,overcast clouds

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_dataframe[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Mogadishu,SO,80.28,overcast clouds,2.0371,45.3438,
5,Grand Gaube,MU,79.38,clear sky,-20.0064,57.6608,
18,Bubaque,GW,80.73,light rain,11.2833,-15.8333,
22,Sinnamary,GF,77.74,broken clouds,5.3833,-52.9500,
24,Saint-Philippe,RE,77.22,clear sky,-21.3585,55.7679,
31,Doha,QA,75.18,clear sky,25.2867,51.5333,
33,Mahajanga,MG,77.02,scattered clouds,-15.7167,46.3167,
36,Esmeralda,CU,76.24,overcast clouds,21.8525,-78.1169,
52,Georgetown,MY,78.73,scattered clouds,5.4112,100.3354,
64,Kavaratti,IN,81.84,overcast clouds,10.5669,72.6420,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [9]:
hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Mogadishu,SO,80.28,overcast clouds,2.0371,45.3438,Hotel Juba
5,Grand Gaube,MU,79.38,clear sky,-20.0064,57.6608,Veranda Paul et Virginie Hotel & Spa
18,Bubaque,GW,80.73,light rain,11.2833,-15.8333,"Casa Dora, Bubaque"
22,Sinnamary,GF,77.74,broken clouds,5.3833,-52.9500,ALETHEIA Appartement Sinnamary
24,Saint-Philippe,RE,77.22,clear sky,-21.3585,55.7679,"Chambres d'hôte ""La Trinité"""

In [10]:
# 7. Drop the rows where there is no Hotel Name.
clean_hoteldf = hotel_df.dropna()
clean_hoteldf.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Mogadishu,SO,80.28,overcast clouds,2.0371,45.3438,Hotel Juba
5,Grand Gaube,MU,79.38,clear sky,-20.0064,57.6608,Veranda Paul et Virginie Hotel & Spa
18,Bubaque,GW,80.73,light rain,11.2833,-15.8333,"Casa Dora, Bubaque"
22,Sinnamary,GF,77.74,broken clouds,5.3833,-52.9500,ALETHEIA Appartement Sinnamary
24,Saint-Philippe,RE,77.22,clear sky,-21.3585,55.7679,"Chambres d'hôte ""La Trinité"""
31,Doha,QA,75.18,clear sky,25.2867,51.5333,Movenpick Hotel Doha
33,Mahajanga,MG,77.02,scattered clouds,-15.7167,46.3167,Restaurant Greedy Coco Lodge Majunga
36,Esmeralda,CU,76.24,overcast clouds,21.8525,-78.1169,Centro de Pioneros Exploradores
52,Georgetown,MY,78.73,scattered clouds,5.4112,100.3354,Cititel Penang
64,Kavaratti,IN,81.84,overcast clouds,10.5669,72.6420,Hotels in Lakshadweep Islands

In [11]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_Vacation.csv"
# 8b. Export the City_Data into a csv
clean_hoteldf.to_csv(output_data_file, index_label="City_ID")

In [12]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hoteldf.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hoteldf[["Lat", "Lng"]]

In [13]:
# 11a. Add a marker layer for each city to the map. 
locations = clean_hoteldf[["Lat", "Lng"]]
max_temp = clean_hoteldf["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))